---
kind: ConfigMap
apiVersion: v1
metadata:
  name: smokeping-targets
  namespace: {{ spp_namespace }}
data:
  targets.yaml: |
    ---
    targets:
    - hosts:
{% for spp_host in spp_hosts %}
      - {{ spp_host }}
{% endfor %}
      size: {{ spp_ping_size }}
      interval: {{ spp_ping_interval }}
      source: {{ spp_node_name }}
