---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: smokeping
  namespace: {{ spp_namespace }}
rules:
- apiGroups: ['policy']
  resources: ['podsecuritypolicies']
  verbs: ['use']
  resourceNames: ['{{ spp_sa_psp }}']
